

	<div class="container">
		
		<div class="jumbotron">
			<h1 class=""><i class="fa fa-facebook-square" aria-hidden="true"></i> Good Burger </h1>
			<hr>
			<h2 class="">tell us what you want </h2>
			
			<br>

			
            <form action="/toindex" method="POST">
              <div class="form-group">
                <label for="burger">Burger Name</label>
                <input type="text" class="form-control" id="burgerName" aria-describedby="burgname" placeholder="Enter Name">
                <small id="nameHelp" class="form-text text-muted">We kinda need to know who you are</small>
              </div>
              
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

		</div>

	    <footer class="footer">
	      <div class="container">
		        <p><a href="/api/friends">API Friends List</a> 
	      </div>
	    </footer>

	</div>

	
